*.pyc
.virtualenvironment
.virtualenvironment/
.virtualenvironments
.virtualenvironments/
.venv/
.venv
.idea
.idea/*
.idea/
Logs
Logs/
Logs/*
ProtectedPath
ProtectedPath/
ProtectedPath/*
*.log
data-TrafficLoader_Application-dev.txt
data-TrafficLoader_Application-prod.txt
